<app-header></app-header>
<ngb-carousel class="mt-0">
    <ng-template ngbSlide *ngFor="let item of pages.carousel_images">
        <div class="picsum-img-wrapper">
            <img [src]="'http://localhost:8000'+item.carousel_image_t.url" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h1>{{item.carousel_title}}</h1>
            <p>{{item.carousel_subtitle}}</p>
            <a [href]="item.carousel_cta" class="btn btn-primary">Call to Action</a>
        </div>
    </ng-template>


</ngb-carousel>
<router-outlet></router-outlet>